.circled{
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border-color: black;
    border: solid;
    margin: 0;
    padding: 0;
}